@media only screen and (max-width:520px) {

  /* section-2 starts here  */
    
  .section-2 .sec-2 .box{
    width: 100%;

}


/* section-2 ends here  */


/* section-3 starts here  */

.section-3 .sec-3 .box{
    width: 100%;

}


/* section-3 ends here  */

/* section-4 starts here  */
.section-4 .sec-4 .box{
    width: 100%;
    margin: 5% 1%;

}
/* section-4 ends here  */

/* section-5 starts here  */

.section-5{
    /* display: none; */
}

.section-5 .sec-5 .box {

    height: 30rem;

    
}

.section-5 .sec-5 .box .img-box{
    width: 100%;
}
.section-5 .sec-5 .box .content{
    width: 100%;
}

.section-5 .sec-5 .box-2, .box-4{
    flex-direction: column-reverse;
}



/* section-5 ends here  */
/* section-6 starts here  */
.section-6{
    margin: 15rem auto;
}

/* section-6 ends here  */


 
 






    
}