*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-color:green;
}



.pg{
    font-size:.8rem ;
    color: var(--primary-color);

}

h3{
    font-size: 2rem;
    color: var(--primary-color);
    margin: 2.5rem 0;
}

.btn-primary{
    width: 100%;
    border: 1px solid var(--primary-color);
    background-color: none;
    padding: .5rem 2rem;
    color: var(--primary-color);
}















/* header starts here   */


header{
    background-color: white
}
header .nav ul{
    margin: 0rem auto;
    padding: 1%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    width: 60%;
}
header ul li{
    list-style: none;
    margin: 1rem .1%;
    /* background-color: pink; */
}

header ul li img{
    width: 70%;
}
.banner{
    width: 100%;
    height: 70vh;
    background-image: url(./Dev/Banner_1.jpg) ;
    background-size: cover;
    background-position: center;
    padding: 5% 0;

}
.banner-box-1{
    width: 80%;
    margin: 0 auto;
}
.banner-box-2{
    /* width: 80%; */
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 0% 1%;

}
.banner .banner-box-2 .box{
    /* width: 23%; */
    border-right: 1px solid gray;
    margin: 0% 1%;
    padding: 3% 1%;
    /* background-color: hotpink; */
    background-color: white;


}
.banner .banner-box-2 .box-4{
    background-color: black;

}


/* header finished here   */
/* section-1 starts here  */
.section-1{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 5%;
}

/* section-1 ends here  */
/* section-2 starts here  */
.section-2{
    width: 100%;
    background-image: url(./Dev/Browsebylocation/BG.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 3rem 0;
}
.section-2 .sec-2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-2 .sec-2 .box{
    width: 22%;
    margin: 1% 1%;
    height: 20rem;
    background-position: center ;
    background-size: cover;
    position: relative; 
    
}

.section-2 .sec-2 .box-1{
    background-image: url(./Dev/Browsebylocation/Delhi.jpg);
}
.section-2 .sec-2 .box-2{
    background-image: url(./Dev/Browsebylocation/Gurugram.jpg);
}
.section-2 .sec-2 .box-3{
    background-image: url(./Dev/Browsebylocation/Hyderabad.jpg);
}
.section-2 .sec-2 .box-4{
    background-image: url(./Dev/Browsebylocation/Jaipur.jpg);
}
.section-2 .sec-2 .box-5{
    background-image: url(./Dev/Browsebylocation/Noida.jpg);
}
.section-2 .sec-2 .box-6{
    background-image: url(./Dev/Browsebylocation/Kolkata.jpg);
}
.section-2 .sec-2 .box-7{
    background-image: url(./Dev/Browsebylocation/Banglore.jpg);
}
.section-2 .sec-2 .box-8{
    background-image: url(./Dev/Browsebylocation/Quote.jpg);
}
.section-2 .sec-2 .box .wp{
    position: absolute;
    width: 100%;
    color: white;
    top: 50%;
}
/* section-2 ends here  */
/* section-3 starts here  */
.section-3{
    width: 100%;
    background-image: url(./Dev/Banner_2.jpg);
    text-align: center;

}
.section-3 .sec-3{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 5rem;

}

.section-3 .sec-3 .box .pheading{
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
.section-3 .sec-3 .box p{
    font-size: 1.5rem;
    font-weight: 100;
}



/* section-3 ends here  */
/* section-4 starts here  */
.section-4{
    width: 100%;
    text-align: center;
    padding: 3rem 5rem;

}
.section-4 .sec-4{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.section-4 .sec-4 .box{
    width: 18%;
    margin: 2% 1%;
}
.section-4 .sec-4 .box img{
    width: 100%;
}


/* section-4 ends here  */
/* section-5 starts here  */
.section-5{
    width: 100%;
    text-align: center;
    padding: 3rem 5rem;
    background-color: rgb(247, 247, 247);

}
.section-5 .sec-5{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    
    
}
.section-5 .sec-5 .box{
    width: 100%;
    height: 30rem;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    /* background-color: aquamarine; */
    
}

.section-5 .sec-5 .box .img-box{
    width: 70%;
    height: 30rem;
    position: absolute;
    z-index: 0;
      
}

.section-5 .sec-5 .box .right{
    width: 70%;
    height: 30rem;
    position: absolute;
    z-index: 0;
    right: 0;

}

.section-5 .sec-5 .box .img-box img{
    width: 100%;
    height: 30rem;
    
}

.section-5 .sec-5 .box .content{
    width: 40%;
    height:80%;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: white;
    bottom: 0;
    padding: 5% 5%;
    box-shadow: .1px -.1px 5px gray;

}
.section-5 .sec-5 .box .left{
    width: 40%;
    height:60%;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: white;
    padding: 10% 5%;
    bottom: 0;
    left: 0;
    box-shadow: -.1px -.1px 5px gray;

}
.section-5 .sec-5 .box .content h4{
    margin-bottom: 5%;

}
.section-5 .sec-5 .box .content li{
    list-style: none;
    color: gray;

}



.section-5 .sec-5 .box-1{
    z-index: 0;
}
.section-5 .sec-5 .box-2{
    z-index: 1;
    top: -6rem;
}
.section-5 .sec-5 .box-3{
    z-index: 2;
    top: -6rem;
}
.section-5 .sec-5 .box-4{
    z-index: 999;
    top: -14rem;
}
/* section-5 ends here  */
/* section-6 starts here  */
.section-6{
    width: 100%;
    text-align: center;
    padding: 3rem 5rem;
    background-color: rgb(247, 247, 247);

}
.section-6 .sec-6{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;

    
}

.section-6 .sec-6 .box{
    width: 30%;
    background-color: white;
}
.section-6 .sec-6 .box .img-box{
    width: 100%;
}
.section-6 .sec-6 .box .img-box img{
    width: 100%;
}

.section-6 .sec-6 .box .content {
    padding: 1rem 2rem;
    
}
.section-6 .sec-6 .box .content p {
    font-size: 1.2rem;
    margin: 1rem 0;
    
}
.section-6 .sec-6 .box .content button {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: none;
    background: none;
    
}
/* section-6 ends here  */


