@media only screen and (max-width:769px) {
/* section-2 starts here  */

.section-2 .sec-2 .box{
    width: 100%;

}

/* section-2 ends here  */




/* section-5 starts here  */

.section-5 .sec-5 .box .img-box{
    width: 60%;
}
.section-5 .sec-5 .box .content{
    width: 40%;
}
.section-5 .sec-5 .box .content li {
    font-size: .6rem;
}



/* section-5 ends here  */
 /* section-6 starts here  */

 .section-6 .sec-6 .box{
    width: 100%;

}
/* section-6 ends here  */


}